backend/AI/captioning/utils/coco/pycocoevalcap/meteor/data filter=lfs diff=lfs merge=lfs -text
backend/AI/captioning/vgg16_no_fc.npy filter=lfs diff=lfs merge=lfs -text
산출물/특화PJT_구미_D107_안시경_UCC.mp4 filter=lfs diff=lfs merge=lfs -text
backend/AI/captioning/models/289999.npy filter=lfs diff=lfs merge=lfs -text
